Repository carthage-software/mago, pull requests merged in 2025-10, with the labels that each got.

#497 fix: make session argument optional
  crates/prelude/assets/extensions/session.php
  crates/prelude/assets/extensions/standard.php
Labels: Priority: High, Type: Bug, Status: Closed, Subject: Analyzer

#518 feat: added phpMyFAQ to projects using Mago
  docs/projects-using-mago.md
Labels: Type: Documentation, Status: Closed

#522 feat(linter): lint redundant readonly modifiers
  crates/linter/src/rule/mod.rs
  crates/linter/src/rule/redundancy/mod.rs
  crates/linter/src/rule/redundancy/no_redundant_readonly.rs
  crates/linter/src/settings.rs
  docs/tools/linter/rules/redundancy.md
Labels: Priority: Medium, Status: Revision Needed, Type: Enhancement, Subject: Linter

#530 feat(linter): suggest `private` instead of `protected` visibility in final classes and enum
  crates/linter/src/rule/mod.rs
  crates/linter/src/rule/redundancy/mod.rs
  crates/linter/src/rule/redundancy/no_protected_in_final.rs
  crates/linter/src/settings.rs
  docs/tools/linter/rules/redundancy.md
Labels: Priority: High, Type: Enhancement, Subject: Linter, Status: Closed

#529 feat(linter): Add a fixer action for redundant final modifiers
  crates/linter/src/rule/redundancy/no_redundant_final.rs
Labels: Priority: Medium, Type: Enhancement, Subject: Linter, Status: Closed
