Repository carthage-software/mago, pull requests merged in 2025-02, with the labels that each got.

#62 feat(reporting): add gitlab code quality format
  Cargo.lock
  Cargo.toml
  crates/reporting/Cargo.toml
  crates/reporting/src/internal/emitter/gitlab.rs
  crates/reporting/src/internal/emitter/mod.rs
  crates/reporting/src/reporter.rs
Labels: Priority: Medium, Status: Revision Needed, Type: Enhancement, Subject: Linter

#67 feat(lexer/linter): add support for #️⃣ hash emoji & corresponding linter rule
  crates/lexer/src/internal/consts.rs
  crates/lexer/src/lib.rs
  crates/lexer/tests/tokenizer.rs
  crates/linter/src/plugin/best_practices/mod.rs
  crates/linter/src/plugin/best_practices/rules/mod.rs
  crates/linter/src/plugin/best_practices/rules/no_hash_emoji.rs
  crates/linter/tests/plugins/best_practices.rs
Labels: Priority: High, Type: Enhancement, Subject: Linter, Subject: Parser, Status: Closed

#68 revert: remove emoji support in lexer and update NoHashEmojiRule
  crates/lexer/src/internal/consts.rs
  crates/lexer/src/lib.rs
  crates/lexer/tests/tokenizer.rs
  crates/linter/src/plugin/best_practices/rules/no_hash_emoji.rs
Labels: Priority: Critical, Status: Completed, Type: Maintenance, Subject: Linter, Subject: Parser

#70 feat(linter): expand checks for undefined members & fix level handling
  crates/interner/src/lib.rs
  crates/linter/src/plugin/analysis/mod.rs
  crates/linter/src/plugin/analysis/rules/inheritance.rs
  crates/linter/src/plugin/analysis/rules/instantiation.rs
  crates/linter/src/plugin/analysis/rules/mod.rs
  crates/linter/src/plugin/analysis/rules/undefined_constant.rs
  crates/linter/src/plugin/analysis/rules/undefined_constant_or_case.rs
  crates/linter/src/plugin/analysis/rules/undefined_function.rs
  crates/linter/src/plugin/analysis/rules/undefined_function_or_method.rs
  crates/linter/tests/plugins/analysis.rs
  crates/php-version/src/feature.rs
  crates/php-version/src/lib.rs
  crates/reflection/src/class_like/inheritance.rs
  crates/reflection/src/class_like/mod.rs
  crates/reflection/src/identifier.rs
  crates/reflection/src/lib.rs
  crates/reflector/src/internal/reflect/class_like.rs
  crates/reflector/src/populator.rs
  crates/source/src/lib.rs
Labels: Priority: High, Status: In Progress, Type: Bug, Type: Enhancement, Subject: Linter

#69 feat: introduce reference crate, and find cli command
  Cargo.lock
  Cargo.toml
  Justfile
  crates/reference/Cargo.toml
  crates/reference/src/internal/context.rs
  crates/reference/src/internal/mod.rs
  crates/reference/src/internal/walker.rs
  crates/reference/src/lib.rs
  crates/reference/src/query.rs
  src/commands/find.rs
  src/commands/mod.rs
  src/main.rs
Labels: Priority: High, Status: In Progress, Type: Enhancement

#71 feat(linter): add support for mago-ignore comments
  crates/linter/src/ast.rs
  crates/linter/src/context.rs
  crates/linter/src/ignore/mod.rs
  crates/linter/src/lib.rs
  crates/linter/src/plugin/best_practices/rules/combine_consecutive_issets.rs
  crates/linter/src/plugin/best_practices/rules/no_empty_loop.rs
  crates/linter/src/plugin/best_practices/rules/no_hash_emoji.rs
  crates/linter/src/plugin/best_practices/rules/no_unused_parameter.rs
  crates/linter/src/plugin/best_practices/rules/use_while_instead_of_for.rs
  crates/linter/src/plugin/comment/rules/mod.rs
  crates/linter/src/plugin/comment/rules/no_empty_comments.rs
  crates/linter/src/plugin/comment/rules/no_shell_style.rs
  crates/linter/src/plugin/comment/rules/no_untagged_fixme.rs
  crates/linter/src/plugin/comment/rules/no_untagged_todo.rs
  crates/linter/src/plugin/comment/rules/utils.rs
  crates/linter/src/plugin/consistency/rules/array_syntax.rs
  crates/linter/src/plugin/consistency/rules/lowercase_hint.rs
  crates/linter/src/plugin/consistency/rules/lowercase_keyword.rs
  crates/linter/src/plugin/consistency/rules/no_function_aliases.rs
  crates/linter/src/plugin/consistency/rules/no_tag_pair_terminator.rs
  crates/linter/src/plugin/consistency/rules/require_block_statement_body.rs
  crates/linter/src/plugin/deprecation/rules/php82/return_by_reference_from_void_function.rs
  crates/linter/src/plugin/deprecation/rules/php84/implicitly_nullable_parameter.rs
  crates/linter/src/plugin/migration/rules/php80/str_contains.rs
  crates/linter/src/plugin/migration/rules/php80/str_starts_with.rs
  crates/linter/src/plugin/migration/rules/php81/explicit_octal_notation.rs
  crates/linter/src/plugin/migration/rules/php82/readonly_class_promotion.rs
  crates/linter/src/plugin/phpunit/rules/consistency/assertions_style.rs
  crates/linter/src/plugin/phpunit/rules/redundancy/redundant_instanceof.rs
  crates/linter/src/plugin/phpunit/rules/strictness/strict_assertions.rs
  crates/linter/src/plugin/redundancy/rules/redundant_block.rs
  crates/linter/src/plugin/redundancy/rules/redundant_closing_tag.rs
  crates/linter/src/plugin/redundancy/rules/redundant_continue.rs
  crates/linter/src/plugin/redundancy/rules/redundant_final_method_modifier.rs
  crates/linter/src/plugin/redundancy/rules/redundant_if_statement.rs
  crates/linter/src/plugin/redundancy/rules/redundant_label.rs
  crates/linter/src/plugin/redundancy/rules/redundant_method_override.rs
  crates/linter/src/plugin/redundancy/rules/redundant_noop.rs
  crates/linter/src/plugin/redundancy/rules/redundant_parentheses.rs
  crates/linter/src/plugin/redundancy/rules/redundant_string_concat.rs
  crates/linter/src/plugin/redundancy/rules/redundant_write_visibility.rs
  crates/linter/src/plugin/safety/rules/no_error_control_operator.rs
  crates/linter/src/plugin/strictness/rules/require_identity_comparison.rs
  crates/linter/src/plugin/symfony/rules/quality/interface_should_be_used.rs
  crates/linter/src/runner.rs
  crates/linter/src/utils.rs
  crates/source/src/lib.rs
  examples/src/ignore.php
Labels: Priority: High, Status: In Progress, Type: Enhancement, Subject: Linter

#72 feat(cli): allow excluding patterns from formatter
  docs/getting-started/configuration.md
  src/commands/format.rs
  src/config/formatter.rs
Labels: Priority: High, Type: Enhancement, Subject: Formatter

#73 fix(formatter): fix formatting trailing and dangling comments
  crates/formatter/src/lib.rs
  crates/formatter/tests/comment/mod.rs
  crates/formatter/tests/comment/single_line.rs
  crates/formatter/tests/mod.rs
  src/config/formatter.rs
Labels: Priority: Critical, Status: In Progress, Type: Bug, Subject: Formatter

#75 feat(reflector/cli): implement --compilation mode for reflection-based "compilation" error detection
  crates/linter/src/plugin/analysis/mod.rs
  crates/linter/src/plugin/analysis/rules/inheritance.rs
  crates/linter/src/plugin/analysis/rules/mod.rs
  crates/linter/src/plugin/analysis/rules/undefined_constant_or_case.rs
  crates/linter/src/plugin/analysis/rules/undefined_function_or_method.rs
  crates/linter/src/plugin/best_practices/rules/no_unused_parameter.rs
  crates/linter/src/plugin/strictness/rules/require_parameter_type.rs
  crates/linter/src/plugin/strictness/rules/require_property_type.rs
  crates/linter/tests/plugins/analysis.rs
  crates/reflection/src/class_like/member.rs
  crates/reflection/src/class_like/mod.rs
  crates/reflection/src/constant.rs
  crates/reflection/src/function_like/mod.rs
  crates/reflection/src/identifier.rs
  crates/reflection/src/lib.rs
  crates/reflector/src/internal/mod.rs
  crates/reflector/src/internal/reflect/class_like.rs
  crates/reflector/src/internal/report.rs
  crates/reflector/src/lib.rs
  crates/reflector/src/populator.rs
  crates/reporting/src/lib.rs
  crates/typing/src/resolver.rs
  src/commands/fix.rs
  src/commands/lint.rs
Labels: Priority: High, Status: In Progress, Type: Enhancement, Subject: Linter

#83 feat(formatter): sort, expand, and separate use statements
  crates/ast/src/ast/use.rs
  crates/formatter/src/format/mod.rs
  crates/formatter/src/format/statement.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/format/mod.rs
  crates/formatter/tests/format/statement.rs
  docs/formatter/settings.md
  src/config/formatter.rs
Labels: Priority: High, Status: In Progress, Type: Enhancement, Subject: Formatter

#85 fix(formatter): fix alignment of indented php code within html
  crates/ast/src/ast/construct.rs
  crates/ast/src/ast/statement.rs
  crates/ast/src/ast/terminator.rs
  crates/formatter/src/document/mod.rs
  crates/formatter/src/format/statement.rs
  crates/formatter/src/parens.rs
  crates/formatter/src/printer/command.rs
  crates/formatter/src/printer/mod.rs
  crates/formatter/src/settings.rs
  crates/formatter/src/utils.rs
  crates/formatter/tests/format/mixed.rs
  crates/formatter/tests/format/mod.rs
  crates/source/src/lib.rs
Labels: Priority: Critical, Status: Completed, Type: Bug, Type: Enhancement, Subject: Formatter

#87 feat(formatter): add `remove_trailing_close_tag` option
  crates/formatter/src/document/group.rs
  crates/formatter/src/document/mod.rs
  crates/formatter/src/format/mod.rs
  crates/formatter/src/lib.rs
  crates/formatter/src/printer/mod.rs
  crates/formatter/src/settings.rs
  crates/formatter/src/utils.rs
  crates/formatter/tests/format/mod.rs
  docs/formatter/settings.md
  src/config/formatter.rs
Labels: Priority: Critical, Type: Bug, Type: Enhancement, Subject: Formatter, Status: Closed

#88 feat(formatter): add `space_before_enum_backing_type_hint_colon` option
  crates/formatter/src/format/mod.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/format/mod.rs
  docs/formatter/settings.md
  src/config/formatter.rs
Labels: Priority: High, Type: Enhancement, Subject: Formatter, Status: Closed

#89 feat(formatter): add options to control parentheses in new expressions, exit, and die
  Cargo.lock
  crates/formatter/Cargo.toml
  crates/formatter/src/format/call.rs
  crates/formatter/src/format/call_arguments.rs
  crates/formatter/src/format/call_node.rs
  crates/formatter/src/format/expression.rs
  crates/formatter/src/lib.rs
  crates/formatter/src/parens.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/mod.rs
  crates/formatter/tests/parens/callee.rs
  crates/wasm/src/analysis.rs
  crates/wasm/src/lib.rs
  docs/formatter/settings.md
  src/commands/format.rs
  src/config/formatter.rs
Labels: Priority: Critical, Status: Completed, Type: BC Break, Type: Enhancement, Subject: Formatter

#84 Linter/strictness extra
  crates/linter/src/plugin/strictness/mod.rs
  crates/linter/src/plugin/strictness/rules/mod.rs
  crates/linter/src/plugin/strictness/rules/no_empty_construct.rs
  crates/linter/src/plugin/strictness/rules/no_shorthand_ternary.rs
  crates/linter/src/plugin/strictness/rules/require_strict_behavior.rs
  crates/linter/tests/plugins/strictness.rs
Labels: Priority: Medium, Type: Enhancement, Subject: Linter, Status: Closed

#90 feat(formatter): add support for fluent member access chain
  crates/formatter/src/format/call.rs
  crates/formatter/src/format/expression.rs
  crates/formatter/tests/format/call.rs
  crates/formatter/tests/format/mod.rs
Labels: Priority: Critical, Type: Enhancement, Subject: Formatter

#91 fix(formatter): better handling of member access chains
  crates/formatter/src/format/call.rs
  crates/formatter/src/format/misc.rs
  crates/formatter/tests/format/call.rs
  crates/formatter/tests/parens/callee.rs
Labels: Priority: Critical, Type: Bug, Type: Enhancement, Subject: Formatter

#92 feat(formatter): hug single instantiation arguments
  crates/formatter/src/format/misc.rs
  crates/formatter/tests/format/arguments.rs
Labels: Priority: Critical, Type: Bug, Type: Enhancement, Subject: Formatter

#93 feat(formatter): expand last instantiation argument
  crates/formatter/src/format/call_arguments.rs
  crates/formatter/tests/format/arguments.rs
Labels: Priority: Critical, Type: Enhancement, Subject: Formatter
