Repository carthage-software/mago, pull requests merged in 2025-03, with the labels that each got.

#96 feat(linter): add support for mago-expect comments
  crates/linter/src/context.rs
  crates/linter/src/ignore.rs
  crates/linter/src/lib.rs
  crates/linter/src/plugin/comment/mod.rs
  crates/linter/src/plugin/comment/rules/mod.rs
  crates/linter/src/plugin/comment/rules/use_expect_instead_of_ignore.rs
  crates/linter/src/pragma.rs
  crates/linter/src/runner.rs
  crates/linter/tests/plugins/comment.rs
Labels: Priority: Critical, Status: Completed, Type: Enhancement, Subject: Linter

#97 formatter: improve the handling of comments around argument lists
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/tests/cases/argument_list_comments/after.php
  crates/formatter/tests/cases/argument_list_comments/before.php
  crates/formatter/tests/cases/argument_list_comments/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: High, Type: Enhancement, Subject: Formatter, Status: Closed

#98 feat(cli): add `mago init` command with `composer.json` support
  Cargo.lock
  Cargo.toml
  docs/getting-started/README.md
  src/commands/init.rs
  src/commands/mod.rs
  src/consts.rs
  src/error.rs
  src/main.rs
  src/utils/mod.rs
  src/utils/version.rs
Labels: Priority: Critical, Status: Completed, Type: Enhancement

#101 feat(formatter): introduce an option to add a space before `!` prefix operator
  crates/ast/src/ast/unary.rs
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/cases/space_after_not_operator/after.php
  crates/formatter/tests/cases/space_after_not_operator/before.php
  crates/formatter/tests/cases/space_after_not_operator/settings.inc
  crates/formatter/tests/mod.rs
  docs/formatter/settings.md
  src/config/formatter.rs
Labels: Priority: High, Type: Enhancement, Subject: Formatter

#102 feat(formatter): always breaking arguments list if it contains only named arguments
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/tests/cases/breaking_named_arguments/after.php
  crates/formatter/tests/cases/breaking_named_arguments/before.php
  crates/formatter/tests/cases/breaking_named_arguments/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: Critical, Type: Enhancement, Subject: Formatter

#103 fix(formatter): never break parameter list that is empty, unless comments break it
  crates/formatter/src/document/group.rs
  crates/formatter/src/document/mod.rs
  crates/formatter/src/internal/comment/format.rs
  crates/formatter/src/internal/format/block.rs
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/src/internal/format/mod.rs
  crates/formatter/src/internal/format/parameters.rs
  crates/formatter/tests/cases/break_fn_args/after.php
  crates/formatter/tests/cases/break_fn_args/before.php
  crates/formatter/tests/cases/break_fn_args/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: Critical, Type: Bug, Type: Enhancement, Subject: Formatter

#104 feat(formatter): improve the member access chaining eligiblity logic
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/format/member_access.rs
  crates/formatter/src/internal/format/misc.rs
  crates/formatter/tests/cases/member_access_chain/after.php
  crates/formatter/tests/cases/member_access_chain/before.php
  crates/formatter/tests/cases/member_access_chain/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: Critical, Type: Enhancement, Subject: Formatter

#105 feat(formatter): do not wrap return value if its a binary and either sides is a simple expression
  composer/InstallMagoBinaryCommand.php
  crates/formatter/src/internal/format/mod.rs
  crates/formatter/tests/cases/return_wrapping/after.php
  crates/formatter/tests/cases/return_wrapping/before.php
  crates/formatter/tests/cases/return_wrapping/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: High, Type: Enhancement, Subject: Formatter

#106 feat(formatter): improve arrow function formatting.
  crates/ast/src/ast/argument.rs
  crates/ast/src/ast/call.rs
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/format/misc.rs
  crates/formatter/src/internal/format/mod.rs
  crates/formatter/src/internal/format/return_value.rs
  crates/formatter/tests/cases/arrow_return/after.php
  crates/formatter/tests/cases/arrow_return/before.php
  crates/formatter/tests/cases/arrow_return/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: Critical, Type: Enhancement, Subject: Formatter

#107 fix(formatter): correct formatting of default arm in match expressions
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/printer/mod.rs
  crates/formatter/tests/cases/match_breaking/after.php
  crates/formatter/tests/cases/match_breaking/before.php
  crates/formatter/tests/cases/match_breaking/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: Critical, Type: Bug, Type: Enhancement, Subject: Formatter

#108 refactor(formatter): remove `keyword_case` option
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/format/mod.rs
  crates/formatter/src/settings.rs
  docs/formatter/settings.md
  src/config/formatter.rs
Labels: Priority: Critical, Type: BC Break, Subject: Formatter

#111 feat(formatter): add support for formatting table-style arrays
  Cargo.lock
  Cargo.toml
  crates/formatter/Cargo.toml
  crates/formatter/src/internal/comment/format.rs
  crates/formatter/src/internal/format/array.rs
  crates/formatter/tests/cases/array_alignment/after.php
  crates/formatter/tests/cases/array_alignment/before.php
  crates/formatter/tests/cases/array_alignment/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: High, Status: Completed, Type: Enhancement, Subject: Formatter

#112 fix(formatter): indent binary operations when split into multple lines inside parenthesis
  crates/formatter/src/internal/format/binaryish.rs
  crates/formatter/tests/cases/binary_alignment/after.php
  crates/formatter/tests/cases/binary_alignment/before.php
  crates/formatter/tests/cases/binary_alignment/settings.inc
  crates/formatter/tests/cases/binary_alignment_before_op/after.php
  crates/formatter/tests/cases/binary_alignment_before_op/before.php
  crates/formatter/tests/cases/binary_alignment_before_op/settings.inc
  crates/formatter/tests/cases/binary_ops_wrapping/after.php
  crates/formatter/tests/mod.rs
Labels: Priority: Critical, Status: Completed, Type: Bug, Subject: Formatter

#113 fix(formatter): fix printing member access chain comments
  crates/formatter/src/internal/format/member_access.rs
  crates/formatter/tests/cases/chain_comments/after.php
  crates/formatter/tests/cases/chain_comments/before.php
  crates/formatter/tests/cases/chain_comments/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: Critical, Status: Completed, Type: Bug, Subject: Formatter

#114 feat(formatter): add options to control formatting of arrays, named arguments, and attributes
  crates/formatter/src/internal/format/array.rs
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/src/internal/format/call_node.rs
  crates/formatter/src/internal/format/class_like.rs
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/format/member_access.rs
  crates/formatter/src/settings.rs
  docs/formatter/settings.md
  src/config/formatter.rs
Labels: Priority: High, Status: Completed, Type: Documentation, Type: Enhancement, Subject: Formatter

#115 fix(linter): ignore boolean promoted properties in `best-practices/no-boolean-flag-parameter`
  crates/linter/src/plugin/best_practices/rules/no_boolean_flag_parameter.rs
Labels: Priority: High, Type: Bug, Subject: Linter, Status: Closed

#121 feat(linter): add new psl plugin
  crates/linter/src/plugin/mod.rs
  crates/linter/src/plugin/psl/mod.rs
  crates/linter/src/plugin/psl/rules/array_functions.rs
  crates/linter/src/plugin/psl/rules/data_structures.rs
  crates/linter/src/plugin/psl/rules/datetime.rs
  crates/linter/src/plugin/psl/rules/math_functions.rs
  crates/linter/src/plugin/psl/rules/mod.rs
  crates/linter/src/plugin/psl/rules/output.rs
  crates/linter/src/plugin/psl/rules/randomness_functions.rs
  crates/linter/src/plugin/psl/rules/regex_functions.rs
  crates/linter/src/plugin/psl/rules/sleep_functions.rs
  crates/linter/src/plugin/psl/rules/string_functions.rs
  crates/linter/src/plugin/psl/rules/utils.rs
  crates/linter/tests/plugins/mod.rs
  crates/linter/tests/plugins/psl.rs
  src/commands/init.rs
Labels: Priority: High, Status: Completed, Type: Enhancement, Subject: Linter

#125 feat(formatter): add options to preserve line breaks in various code …
  crates/ast/src/ast/expression.rs
  crates/formatter/src/internal/format/array.rs
  crates/formatter/src/internal/format/assignment.rs
  crates/formatter/src/internal/format/binaryish.rs
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/src/internal/format/member_access.rs
  crates/formatter/src/internal/format/mod.rs
  crates/formatter/src/internal/format/parameters.rs
  crates/formatter/src/internal/mod.rs
  crates/formatter/src/internal/utils.rs
  crates/formatter/src/lib.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/cases/issue_122/after.php
  crates/formatter/tests/cases/issue_122/before.php
  crates/formatter/tests/cases/issue_122/settings.inc
  crates/formatter/tests/cases/issue_123/after.php
  crates/formatter/tests/cases/issue_123/before.php
  crates/formatter/tests/cases/issue_123/settings.inc
  crates/formatter/tests/cases/preserve_breaking_argument_list/after.php
  crates/formatter/tests/cases/preserve_breaking_argument_list/before.php
  crates/formatter/tests/cases/preserve_breaking_argument_list/settings.inc
  crates/formatter/tests/cases/preserve_breaking_argument_list_disabled/after.php
  crates/formatter/tests/cases/preserve_breaking_argument_list_disabled/before.php
  crates/formatter/tests/cases/preserve_breaking_argument_list_disabled/settings.inc
  crates/formatter/tests/cases/preserve_breaking_array_like/after.php
  crates/formatter/tests/cases/preserve_breaking_array_like/before.php
  crates/formatter/tests/cases/preserve_breaking_array_like/settings.inc
  crates/formatter/tests/cases/preserve_breaking_array_like_disabled/after.php
  crates/formatter/tests/cases/preserve_breaking_array_like_disabled/before.php
  crates/formatter/tests/cases/preserve_breaking_array_like_disabled/settings.inc
  crates/formatter/tests/cases/preserve_breaking_attribute_list/after.php
  crates/formatter/tests/cases/preserve_breaking_attribute_list/before.php
  crates/formatter/tests/cases/preserve_breaking_attribute_list/settings.inc
  crates/formatter/tests/cases/preserve_breaking_attribute_list_disabled/after.php
  crates/formatter/tests/cases/preserve_breaking_attribute_list_disabled/before.php
  crates/formatter/tests/cases/preserve_breaking_attribute_list_disabled/settings.inc
  crates/formatter/tests/cases/preserve_breaking_member_access_chain/after.php
  crates/formatter/tests/cases/preserve_breaking_member_access_chain/before.php
  crates/formatter/tests/cases/preserve_breaking_member_access_chain/settings.inc
  crates/formatter/tests/cases/preserve_breaking_member_access_chain_disabled/after.php
  crates/formatter/tests/cases/preserve_breaking_member_access_chain_disabled/before.php
  crates/formatter/tests/cases/preserve_breaking_member_access_chain_disabled/settings.inc
  crates/formatter/tests/cases/preserve_breaking_parameter_list/after.php
  crates/formatter/tests/cases/preserve_breaking_parameter_list/before.php
  crates/formatter/tests/cases/preserve_breaking_parameter_list/settings.inc
  crates/formatter/tests/cases/preserve_breaking_parameter_list_disabled/after.php
  crates/formatter/tests/cases/preserve_breaking_parameter_list_disabled/before.php
  crates/formatter/tests/cases/preserve_breaking_parameter_list_disabled/settings.inc
  crates/formatter/tests/mod.rs
  docs/formatter/settings.md
Labels: Priority: Critical, Type: Enhancement, Subject: Formatter, Status: Closed

#126 feat(formatter): always break property hooks into multiple lines
  crates/formatter/src/internal/format/mod.rs
  crates/formatter/tests/cases/hooks_always_break/after.php
  crates/formatter/tests/cases/hooks_always_break/before.php
  crates/formatter/tests/cases/hooks_always_break/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: High, Type: Enhancement, Subject: Formatter, Status: Closed

#127 feat(formatter): improve tabular presentation of multi-dimensional arrays
  crates/formatter/src/internal/format/array.rs
  crates/formatter/tests/cases/array_alignment/after.php
  crates/formatter/tests/cases/array_alignment/before.php
Labels: Priority: Critical, Type: Bug, Type: Enhancement, Subject: Formatter, Status: Closed

#131 fix(formatter): correct argument printing and member access chain logic
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/src/internal/format/member_access.rs
  crates/formatter/src/internal/parens.rs
  crates/formatter/tests/cases/issue_128/after.php
  crates/formatter/tests/cases/issue_128/before.php
  crates/formatter/tests/cases/issue_128/settings.inc
  crates/formatter/tests/cases/issue_130/after.php
  crates/formatter/tests/cases/issue_130/before.php
  crates/formatter/tests/cases/issue_130/settings.inc
  crates/formatter/tests/mod.rs
Labels: Priority: High, Type: Bug, Subject: Formatter, Status: Closed

#132 feat(formatter): add `preserve_breaking_conditional_expression` option
  crates/formatter/src/internal/format/array.rs
  crates/formatter/src/internal/format/assignment.rs
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/format/member_access.rs
  crates/formatter/src/internal/format/misc.rs
  crates/formatter/src/internal/utils.rs
  crates/formatter/src/lib.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/cases/preserve_breaking_conditional_expression/after.php
  crates/formatter/tests/cases/preserve_breaking_conditional_expression/before.php
  crates/formatter/tests/cases/preserve_breaking_conditional_expression/settings.inc
  crates/formatter/tests/cases/preserve_breaking_conditional_expression_disabled/after.php
  crates/formatter/tests/cases/preserve_breaking_conditional_expression_disabled/before.php
  crates/formatter/tests/cases/preserve_breaking_conditional_expression_disabled/settings.inc
  crates/formatter/tests/mod.rs
  docs/formatter/settings.md
Labels: Priority: High, Type: Enhancement, Subject: Formatter, Status: Closed

#152 feat(formatter): add fine-grained spacing control options
  composer/MagoPlugin.php
  crates/ast/src/ast/binary.rs
  crates/formatter/src/internal/format/array.rs
  crates/formatter/src/internal/format/assignment.rs
  crates/formatter/src/internal/format/binaryish.rs
  crates/formatter/src/internal/format/call_arguments.rs
  crates/formatter/src/internal/format/control_structure.rs
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/format/misc.rs
  crates/formatter/src/internal/format/mod.rs
  crates/formatter/src/internal/format/parameters.rs
  crates/formatter/src/internal/parens.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/cases/issue_138/settings.inc
  crates/formatter/tests/cases/issue_149/settings.inc
  crates/formatter/tests/cases/issue_150/settings.inc
  crates/formatter/tests/cases/issue_151/settings.inc
  crates/formatter/tests/cases/no_space_before_enum_backing_type_colon/settings.inc
  crates/formatter/tests/cases/space_after_not_operator/settings.inc
  crates/formatter/tests/cases/space_before_enum_backing_type_colon/settings.inc
  crates/formatter/tests/cases/spacing_options/after.php
  crates/formatter/tests/cases/spacing_options/before.php
  crates/formatter/tests/cases/spacing_options/settings.inc
  crates/formatter/tests/cases/spacing_options_flipped/after.php
  crates/formatter/tests/cases/spacing_options_flipped/before.php
  crates/formatter/tests/cases/spacing_options_flipped/settings.inc
  crates/formatter/tests/mod.rs
  docs/formatter/settings.md
Labels: Priority: High, Status: Completed, Type: BC Break, Type: Enhancement, Subject: Formatter

#158 fix: toml formatting in issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Priority: Medium, Type: Maintenance, Status: Closed

#169 feat(formatter): Add settings to inline empty braces
  crates/formatter/src/internal/format/block.rs
  crates/formatter/src/internal/format/class_like.rs
  crates/formatter/src/internal/format/control_structure.rs
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/format/misc.rs
  crates/formatter/src/internal/format/mod.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/cases/inline_empty_braces_default/after.php
  crates/formatter/tests/cases/inline_empty_braces_default/before.php
  crates/formatter/tests/cases/inline_empty_braces_default/settings.inc
  crates/formatter/tests/cases/inline_empty_braces_disabled/after.php
  crates/formatter/tests/cases/inline_empty_braces_disabled/before.php
  crates/formatter/tests/cases/inline_empty_braces_disabled/settings.inc
  crates/formatter/tests/cases/inline_empty_braces_enabled/after.php
  crates/formatter/tests/cases/inline_empty_braces_enabled/before.php
  crates/formatter/tests/cases/inline_empty_braces_enabled/settings.inc
  crates/formatter/tests/cases/inline_empty_braces_swapped/after.php
  crates/formatter/tests/cases/inline_empty_braces_swapped/before.php
  crates/formatter/tests/cases/inline_empty_braces_swapped/settings.inc
  crates/formatter/tests/cases/issue_166/after.php
  crates/formatter/tests/cases/parameter_attributes/after.php
  crates/formatter/tests/mod.rs
Labels: Priority: High, Status: Completed, Type: Enhancement, Subject: Formatter

#147 feat(linter): add automatic fix for `strictness/require_strict_types`
  crates/linter/src/context.rs
  crates/linter/src/plugin/strictness/rules/require_strict_types.rs
Labels: Priority: Medium, Status: Completed, Type: Enhancement, Subject: Linter
