Repository carthage-software/mago, pull requests merged in 2025-08, with the labels that each got.

#226 fix(syntax): CRLF heredoc parsing (#225)
  .gitattributes
  crates/formatter/tests/cases/issue_225/after.php
  crates/formatter/tests/cases/issue_225/before.php
  crates/formatter/tests/cases/issue_225/settings.inc
  crates/formatter/tests/mod.rs
  crates/syntax/src/lexer/mod.rs
Labels: Priority: High, Status: In Progress, Type: Bug, Subject: Formatter, Subject: Parser

#254 fix(stubs) handle lists for array_map better
  stubs/extensions/standard.php
Labels: Priority: Medium, Status: Completed, Type: Bug, Type: Enhancement, Subject: Linter

#278 Markdown-ize README
  README.md
Labels: Priority: Medium, Status: Accepted, Type: Maintenance

#310 feat(linter): add invalid-open-tag correctness rule
  crates/linter/src/rule/invalid_open_tag.rs
  crates/linter/src/rule/mod.rs
  crates/linter/src/rule/strict_types.rs
  crates/linter/src/settings.rs
  docs/tools/linter/rules/correctness.md
Labels: Priority: Medium, Status: Completed, Type: Enhancement, Subject: Linter

#311 fix(formatter): correct parenthesis handling
  crates/formatter/src/internal/format/control_structure.rs
  crates/formatter/src/internal/format/expression.rs
  crates/formatter/src/internal/format/member_access.rs
  crates/formatter/src/internal/format/misc.rs
  crates/formatter/src/internal/parens.rs
  crates/formatter/src/internal/utils.rs
  crates/formatter/tests/cases/issue_279/after.php
  crates/formatter/tests/cases/issue_279/before.php
  crates/formatter/tests/cases/issue_279/settings.inc
  crates/formatter/tests/cases/issue_300/after.php
  crates/formatter/tests/cases/issue_300/before.php
  crates/formatter/tests/cases/issue_300/settings.inc
  crates/formatter/tests/cases/issue_301/after.php
  crates/formatter/tests/cases/issue_301/before.php
  crates/formatter/tests/cases/issue_301/settings.inc
  crates/formatter/tests/mod.rs
  crates/syntax/src/token/mod.rs
Labels: Priority: High, Status: Completed, Type: Bug, Subject: Formatter

#315 refactor(formatter): remove spacing options for operators
  crates/formatter/src/internal/format/assignment.rs
  crates/formatter/src/internal/format/binaryish.rs
  crates/formatter/src/settings.rs
  crates/formatter/tests/cases/spacing_options_flipped/after.php
  crates/formatter/tests/cases/spacing_options_flipped/settings.inc
  docs/tools/formatter/configuration-reference.md
Labels: Priority: Medium, Type: BC Break, Type: Maintenance, Subject: Formatter, Status: Closed

#318 fix(ci): increase windows stack size
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: Priority: Critical, Type: Bug, Status: Closed

#337 docs: polish casing and minor readability and presentation improvements
  docs/.vitepress/config.mts
  docs/.vitepress/theme/custom.css
  docs/benchmarks.md
  docs/contributing.md
  docs/guide/getting-started.md
  docs/guide/initialization.md
  docs/guide/installation.md
  docs/guide/self-update.md
  docs/index.md
  docs/projects-using-mago.md
  docs/recipes/github-actions.md
  docs/recipes/helix.md
  docs/recipes/vscode.md
  docs/recipes/zed.md
  docs/tools/analyzer/command-reference.md
  docs/tools/analyzer/configuration-reference.md
  docs/tools/analyzer/overview.md
  docs/tools/analyzer/usage.md
  docs/tools/formatter/command-reference.md
  docs/tools/formatter/configuration-reference.md
  docs/tools/formatter/overview.md
  docs/tools/formatter/usage.md
  docs/tools/lexer-parser/command-reference.md
  docs/tools/lexer-parser/overview.md
  docs/tools/lexer-parser/usage.md
  docs/tools/linter/command-reference.md
  docs/tools/linter/configuration-reference.md
  docs/tools/linter/integrations.md
  docs/tools/linter/overview.md
  docs/tools/linter/rules-and-categories.md
  docs/tools/linter/rules/best-practices.md
  docs/tools/linter/rules/clarity.md
  docs/tools/linter/rules/consistency.md
  docs/tools/linter/rules/correctness.md
  docs/tools/linter/rules/deprecation.md
  docs/tools/linter/rules/maintainability.md
  docs/tools/linter/rules/redundancy.md
  docs/tools/linter/rules/safety.md
  docs/tools/linter/rules/security.md
  docs/tools/linter/usage.md
  docs/tools/overview.md
  scripts/linter-rules-docs.php
Labels: Priority: Medium, Type: Documentation
