Repository carthage-software/mago, pull requests merged in 2025-01, with the labels that each got.

#25 Add support for `protected(set)` and `public(set)`
  crates/ast/src/ast/modifier.rs
  crates/ast/src/node.rs
  crates/formatter/src/format/mod.rs
  crates/lexer/src/lib.rs
  crates/linter/src/plugin/redundancy/mod.rs
  crates/linter/src/plugin/redundancy/rules/mod.rs
  crates/linter/src/plugin/redundancy/rules/redundant_write_visibility.rs
  crates/parser/src/internal/modifier.rs
  crates/semantics/src/walker.rs
  crates/token/src/lib.rs
Labels: bug, enhancement

#42 Add compatibility/arrow-functions-feature lint
  crates/linter/src/plugin/compatibility/mod.rs
  crates/linter/src/plugin/compatibility/rules/mod.rs
  crates/linter/src/plugin/compatibility/rules/php74/arrow_functions_feature.rs
  crates/php-version/src/feature.rs
  crates/php-version/src/lib.rs
Labels: Priority: Medium, Status: Revision Needed, Type: Enhancement, Subject: Linter

#35 Introduce composer plugin
  .github/workflows/ci.yml
  .gitignore
  composer.json
  composer.lock
  composer/InstallMagoBinaryCommand.php
  composer/MagoCommandProvider.php
  composer/MagoPlugin.php
  composer/bin/.gitignore
  composer/bin/mago
  mago.toml
Labels: Priority: High, Status: In Progress, Type: Enhancement

#54 fix(linter): fix PHP version compatibility for strictness plugin
  crates/linter/src/plugin/strictness/rules/require_constant_type.rs
  crates/linter/src/plugin/strictness/rules/require_parameter_type.rs
  crates/linter/src/plugin/strictness/rules/require_property_type.rs
  crates/linter/src/plugin/strictness/rules/require_return_type.rs
  crates/linter/src/plugin/strictness/rules/require_strict_types.rs
Labels: Priority: Critical, Status: Review Needed, Type: Bug, Subject: Linter

#52 Composer: Allow all supported PHP versions
  composer.json
  composer.lock
Labels: Priority: Medium, Status: Completed, Type: Enhancement, Subject: Composer

#51 Update README.md
  README.md
Labels: Priority: Medium, Status: Completed, Type: Documentation

#56 Make composer plugin compatible with PHP 8.1
  composer/MagoPlugin.php
Labels: Priority: High, Type: Bug, Status: Closed, Subject: Composer
